.con-6 {
    background-color: #1a1a1a;
    padding: 40px 0;
    box-sizing: border-box;
    
    .faq-section {
        padding: 0 15px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        color: #fff;
    
        .faq-item-wrap {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 1fr;

          .faq-header {
            font-style: normal;
            color: #ffffff;
            font-weight: bold;
            font-size: 2.4rem;
            line-height: 1.45;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0 20px 0;
          }

    .faq-item {
        background: #3b3e40;
        transition: all 0.3s;
        overflow: hidden;
        border-radius: 10px;
        box-sizing: border-box;
        outline: none;
        
        &:hover {
            background-color: #ff7a00;
          }

        .faq-item-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 50px;
            padding: 15px;
            cursor: pointer;
            box-sizing: border-box;

            .faq-item-header {
                flex-grow: 1;
                padding-right: 15px;
                transition: all 0.3s;
            }

            .arrow-icon {
                padding-right: 15px;
                transition: all 0.3s;
                box-sizing: border-box;

                span {

                    img {
                        width: 100%;
                        height: auto;
                        transition: all 0.5s;

                        &.active {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        .faq-content {
            padding-left: 15px;
            padding-right: 15px;
            transition: all 0.5s;
        }
    }
  }
}

}