.con-5 {
    background: #3b3e40;
    padding: 60px 0;
    background-size: cover;

    .why-us-wrap {
        margin: 0 auto;
        .aff-content {
            width: 100%;
            margin: 40px auto;
            text-align: center;
            font-style: normal;
            color: #ffffff;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 1.45;
            

            .why-us-cart {
                width: 100%;
                background-color: #0b5636ad;
                border-radius: 10px;
                box-sizing: border-box;
                margin: 20px;
                padding: 20px;

                .why-us-cart-title {
                }

                .why-us-cart-body {
                    padding: 20px 0;
                    box-sizing: border-box;
                    p{ 
                        margin: auto;
                    }
                   
                }
            }


            &:first-child {
                margin-top: 0;

            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
  }

  @media (min-width: 375px) {
    .con-5 {
      
        .why-us-wrap {
           
            .aff-content {
                .why-us-cart {
                    margin: 20px 0;
                }
            }
        }
      }
  }

  @media (min-width: 1024px) {
    .con-5 {
      
        .why-us-wrap {
           
            .aff-content {
                .why-us-cart {
                    margin: 20px;
                }
            }
        }
      }
  }