.carousel{
    width: 900px;
    background-color: red;
    margin: auto;
    position: relative;
    overflow: hidden;
    height: 400px;
}
.carts-wrap{
    display: flex;
    position: absolute;
    .cart {
    width: 200px;
    height: 17.857em;
    padding: 37px 20px 27px;
    margin: 0 1em;
    border-radius: 10.8px;
    border: solid 0.8px #2f3b75;
    background-color: #0f194d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    overflow: auto;
    }

    
} 
.con-4 {
    background-color: #1a1a1a;
    padding: 40px 0;
    .cart {
        display: grid;
        grid-gap: 15px;
        padding: 30px;
        text-align: center;
        background: #3b3e40;
        border-radius: 10px; 
        color: #ffffff;
        
        p{
            a {
                color: #ffffff;
                text-decoration: none;
                
                &:hover {
                    color: #ff7a00;
                }
            }
        }
        
    
        .cart-desc {
            height: 200px;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 4px;
              }
        }
    }
}
