.App {


  .con-1 {
    
    background-color: #323334;
    .content {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
      margin: 0 47px;
      padding: 95px 0;

      h1 {
        font-style: normal;
        color: #fff;
        font-weight: bold;
        font-size: 3.8rem;
        line-height: 1.45;
        margin: 0;
      }

      p {
        font-style: normal;
        color: #fff;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.45;
        margin: 0;
      }

      a {
        font-style: normal;
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.45;
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content;
        min-width: 110px;
        height: 40px;
        margin: 40px auto 0;
        padding: 5px 20px;
        text-decoration: none;
        background: #40a850;
        box-shadow: none;
        border: 2px solid transparent;
        border-radius: 10px;
      }
      
    }
  }
 
  .con-4 {

  }

  

  

  

  .con-8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
  }
}


@media (min-width: 375px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 345px;
      }
}

@media (min-width: 480px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 450px;
      }

}

@media (min-width: 560px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 530px;
      }

}

@media (min-width: 640px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 610px;
      }

}

@media (min-width: 720px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 690px;
      }

}

@media (min-width: 768px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 738px;
      }

}

@media (min-width: 900px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 870px;
      }

}

@media (min-width: 1024px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 994px;
          
      }

}

@media (min-width: 1200px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 1170px;
      }

}

@media (min-width: 1630px){
  
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us, .app-header  {
          max-width: 1600px;
      }

}




