.App {

  h3 {
    &.title-top {
      margin: 20px 0 15px;
      font-style: normal;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.45;
      text-transform: uppercase;
      text-align: center;
    }

  }

  .subtitle-bot {
    font-style: normal;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.45;
    text-align: center;
  }



  .baner-title {
    font-style: normal;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.45;
    text-align: center;
  }

  .baner-subtitle {
    font-style: normal;
    color: #fff;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.45;
    text-align: center;
  }


  

  .con-8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
  }
}


@media (min-width: 320px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us,  .afiliate-animate,.con-8  {
          max-width: 320px;
      }
}

@media (min-width: 480px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us,  .afiliate-animate,.con-8  {
          max-width: 450px;
      }

}

@media (min-width: 560px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us,  .afiliate-animate,.con-8  {
          max-width: 530px;
      }

}

@media (min-width: 640px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us,  .afiliate-animate,.con-8  {
          max-width: 610px;
      }

}

@media (min-width: 720px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us,  .afiliate-animate,.con-8  {
          max-width: 690px;
      }

}

@media (min-width: 768px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us,  .afiliate-animate,.con-8  {
          max-width: 738px;
      }

    .App {
      h3 {
        &.title-top {
          font-style: normal;
          color: #FFFFFF;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.45;
          text-align: center;
        }
    }  

    .subtitle-bot {
      font-style: normal;
      color: #FFFFFF;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.45;
      text-align: center;
    }
    

      .baner-title {
        font-style: normal;
        color: #fff;
        font-weight: bold;
        font-size: 2.25rem;
        line-height: 1.45;
        text-align: center
      }

        .baner-subtitle {
        font-style: normal;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.45;
        text-align: center
      }

}
}

@media (min-width: 900px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us,  .afiliate-animate,.con-8  {
          max-width: 870px;
      }

}

@media (min-width: 1024px){
      .benefits-wrap, .commission-section, .why-us-wrap, .faq-section, .contact-us,  .afiliate-animate,.con-8  {
          max-width: 994px;
          
      }

}

@media (min-width: 1200px){
      .benefits-wrap, .commission-section, .why-us-wrap, .afiliate-animate,.con-8  {
          max-width: 1170px;
      }
      .App {
        .baner-title {
          font-style: normal;
          color: #fff;
          font-weight: bold;
          font-size: 3rem;
          line-height: 1.45;
      }

      .baner-subtitle {
          font-style: normal;
          color: #fff;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.45;
          text-align: center;
      }
  }
}

@media (min-width: 1630px){
  
      .benefits-wrap, .commission-section, .why-us-wrap,    .afiliate-animate,.con-8  {
          max-width: 1600px;
      }

}




