body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/fonts/Inter-Regular.ttf') format("woff");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
