@keyframes loader-6-1{
    0%{
       transform:translate3d(0,0, 0) scale(0);
       opacity:1
    }
    40%{
       opacity:1
    }
    100%{
       transform:translate3d(0,0, 0) scale(1.5);
       opacity:0
    }
}
 @keyframes loader-6-2{
    0%{
       transform:translate3d(0,0,0) scale(0);
       opacity:1
    }
    40%{
       opacity:1
    }
    100%{
       transform:translate3d(0,0,0) scale(1);
       opacity:0
    }
}

.pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    overflow: hidden;
    background-image: linear-gradient(315deg, #26292b 0%, #1c1D1e 75%);

    .pre-load-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .pre-load-img {
            width: 300px;
            padding-bottom: 80px;
            background-image: url('../../Assets/images/logo.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        
        }
    }

    .pre-load-loader {
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: relative;
        height: 50px;
        margin: 35px 0 0;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 50px;
            height: 50px;
            margin: auto;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            opacity: 0;
            animation: loader-6-1 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 50px;
            height: 50px;
            margin: auto;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            opacity: 0;
            animation: loader-6-2 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
        }
    }
}
